.backgroundHolder {
    position: absolute;
    overflow-x: hidden;
    width: 100%;
}

.background::before {
    width: 100vw;
    height: 100vh;
    content: "";
    /* This is necessary for the pseudo-element to be generated */
    position: relative;
    /* Absolutely position the pseudo-element relative to the parent div */
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    /* These four properties stretch the pseudo-element to cover the entire div */
    display: block;
    background-image: url('/grain.png');
    mix-blend-mode: overlay;
    background-size: contain;
    opacity: 0.4;
    z-index: -1;
    /* Position it behind the content of the div */
    background-attachment: scroll
}

.background {
    content: '';
    position: relative;
    pointer-events: none;
}

.waves {
    width: 280vw;
    height: auto;
}

.bird {
    position: absolute;
    right: 10%;
    top: 5rem;
    z-index: -5;
}

.stars {
    position: absolute;
    /* margin-top: calc(60vw-30rem); */
    /* right: 10%; */
    /* top: 5rem; */
    z-index: -20;
}
.starWidth{
    width: 100vw;
}

.boatFront {
    position: absolute;
    left: 8%;
    top: 53rem;
    z-index: -5;
}

.boatMid {
    position: absolute;
    right: 8%;
    top: 45rem;
    z-index: -10;
}

.boatBack {
    position: absolute;
    left: 38%;
    top: 44.5rem;
    z-index: -14;
}

.waveBack {
    position: absolute;
    /* width: 250vh; */
    height: auto;
    overflow-x: hidden;
    transition: transform 0.3s ease-out;
    z-index: -15;

    top: 38rem;
    /* left: -10rem; */

    filter: drop-shadow(0px 4px 48px #0d3229);
}

.waveMiddle {
    position: absolute;
    /* width: 250vh; */
    height: auto;
    overflow-x: hidden;
    transition: transform 0.3s ease-out;
    z-index: -13;

    top: 43rem;
    /* left: -10rem; */
    filter: drop-shadow(0px 4px 48px #0d3229);
}

.waveFront {
    position: absolute;
    /* width: 250vh; */
    height: auto;
    overflow-x: hidden;
    transition: transform 0.3s ease-out;
    z-index: -10;

    top: 50rem;
    /* left: -10rem; */
    filter: drop-shadow(0px 4px 48px #0d3229);
}

.waveHolder {
    position: absolute;
    /* overflow-x: hidden; */
    /* top: -30rem; */
    top: 0%;
    left: -50%;
}

.sun {
    position: absolute;
    right: -9.5%;
    z-index: -18;
}

/* Position sun based on screen resolution width so it is always above the waves */
@media only screen and (min-width: 1920px) {

    /* Your styles for screens 1920px and wider go here */
    .sun {
        top: 21rem;
    }

    .boatFront {
        position: absolute;
        left: 8%;
        top: 55rem;
        z-index: -5;
    }

    .boatMid {
        position: absolute;
        right: 8%;
        top: 50rem;
        z-index: -10;
    }

    .boatBack {
        position: absolute;
        left: 41%;
        top: 50rem;
        z-index: -14;
    }
}

@media only screen and (min-width: 2700px) {

    /* Your styles for screens 1920px and wider go here */
    .sun {
        top: 21rem;
        right: -5%;
    }

    .boatFront {
        position: absolute;
        left: 8%;
        top: 60rem;
        z-index: -5;
    }

    .boatMid {
        position: absolute;
        right: 8%;
        top: 58rem;
        z-index: -10;
    }

    .boatBack {
        position: absolute;
        left: 41%;
        top: 58rem;
        z-index: -14;
    }
}

@media only screen and (max-width: 1919px) {

    /* Your styles for screens narrower than 1920px go here */
    .sun {
        top: calc(21rem + 10vw - 160px);
    }
}

@media (max-width:1024px) {
    .waveBack {
        position: absolute;
        /* width: 250vh; */
        height: auto;
        overflow-x: hidden;
        transition: transform 0.3s ease-out;
        z-index: -15;

        top: 33rem;
        left: -50rem;

        filter: drop-shadow(0px 4px 48px #0d3229);
    }

    .waveMiddle {
        position: absolute;
        /* width: 250vh; */
        height: auto;
        overflow-x: hidden;
        transition: transform 0.3s ease-out;
        z-index: -13;

        top: 36rem;
        left: -50rem;
        filter: drop-shadow(0px 4px 48px #0d3229);
    }

    .waveFront {
        position: absolute;
        /* width: 250vh; */
        height: auto;
        overflow-x: hidden;
        transition: transform 0.3s ease-out;
        z-index: -10;

        top: 43rem;
        left: -50rem;
        filter: drop-shadow(0px 4px 48px #0d3229);
    }

    .waves {
        width: 230rem;
        height: auto;
    }

    .waveHolder {
        position: absolute;
        /* overflow-x: hidden; */
        /* top: -30rem; */
        top: 0%;
        left: -50%;
    }

    .bird {
        position: absolute;
        right: 40%;
        top: 5rem;
        width: 1rem;
        height: 1rem;
        z-index: -5;
    }

    .mobileBird {
        width: 40vw;
        height: 40vw;
    }

    .boatFront {
        position: absolute;
        left: 4%;
        top: 43rem;
        z-index: -5;
    }

    .boatMid {
        position: absolute;
        right: 0%;
        top: 36rem;
        z-index: -10;
    }

    .mobileBoatMidSize {
        width: 7rem;
        height: 7rem;
    }

    .mobileBoatFrontSize {
        width: 8rem;
        height: 8rem;
    }

    .boatBack {
        position: absolute;
        left: 10%;
        top: 35rem;
        z-index: -14;
    }
}