@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'OpenSans';
  src: url('/Open_Sans/static/OpenSans-Bold.ttf') format('truetype');

  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'OpenSansLight';
  src: url('/Open_Sans/static/OpenSans-Light.ttf') format('truetype');

  font-weight: lighter;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'OpenSans';
  src: url('/Open_Sans/static/OpenSans-Regular.ttf') format('truetype');

  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'OpenSans';
  src: url('/Open_Sans/static/OpenSans-Italic.ttf') format('truetype');

  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  /* color: #0d3229; */
  background: #0d3229;
}

.open-sans-bold {
  font-family: 'OpenSans';
  font-weight: bold;
  font-style: normal;
  font-size: 24px;
}

.fixed-width {
  width: 100%;
  overflow-x: hidden;
}

.position {
  margin-top: 0rem;
  margin-left: 0rem;
  margin-right: 0rem;
}

.chonky {
  height: 1000rem;
  display: block;
}

.vertical-flex {
  display: flex;
  flex-direction: column;
}

.horiz-flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.large-logo {
  width: 38rem;
  height: 38rem;
  margin-top: 3.5rem;
}

.isa-text {
  width: 35rem;
  height: 13rem;
}

.fish-text {
  width: 35rem;
  height: 3.25rem;
}

.fish-location {
  margin-left: 4.6rem;
  margin-top: 3rem;
}

.vertical-flex-squish {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.rel-move {
  position: relative;
  left: -7rem;
}

.left-margin {
  margin-left: 5rem;
}

.text {
  color: #a4b5b1;
  font-family: 'OpenSansLight';
  font-weight: bold;
  font-style: normal;
  font-size: 24px;
  width: 35ch;
  margin-left: 4.5rem;
  margin-top: 3rem;
}

.fish-button {
  margin-left: 3.8rem;
  margin-top: 2rem;
  width: 13rem;
  height: 3.25rem;
  align-self: flex-start;
}

.vertStack-left-aligned {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.button-text {
  position: absolute;
}

.center-container {
  width: 100vw;
  height: 52vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.quote {
  /* margin-top: calc(-2rem + 15vw); */
  color: #a4b5b1;
  font-family: 'OpenSansLight';
  font-weight: bold;
  font-style: normal;
  font-size: 24px;
  width: 50ch;
  margin-left: 0rem;
  line-height: 41px;
}

.quote-start {
  position: relative;
  left: -8rem;
}

.quote-end {
  position: relative;
  top: -3rem;
  right: -44rem;

}

.gallery {
  margin-top: 20rem;
  z-index: 2;
}

.howdy-doodie {
  margin-top: 22rem;
}

.centered {
  display: flex;
  justify-content: center;
  width: 100vw;
  margin-top: 2rem;
}

.circle {
  z-index: -2;
  position: absolute;
  right: 0;
  transform: translateY(-15rem);
}

.contact {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;

  width: 100vw;
  height: 90vh;
}

.get-in-touch {
  margin-top: 2rem;
}

.contact-reference-quote {
  color: #FFFFFF;
  font-family: 'OpenSansLight';
  font-weight: bold;
  font-style: normal;
  font-size: 18px;
  width: 35%;

  /* padding: 2rem; */
  line-height: 30px;
  text-align: center;
}

.rust-wave {
  z-index: -5;
  position: absolute;
  /* right: 0; */
  width: 100vw;
  height: 100vh;
  /* height: 100%; */
  /* transform: translateY(-15rem); */
}

.yellow-border {
  flex: 20%;
  border: 1.5px solid #cf7b0c;
  border-radius: 1rem;
  margin: 1rem;
}

.horiz-flex-top {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;

  margin-top: 1rem;
  margin-left: 2rem;
  margin-right: 2rem;
}

.reference-quote {
  /* margin-top: calc(-2rem + 15vw); */
  color: #a4b5b1;
  font-family: 'OpenSansLight';
  font-weight: bold;
  font-style: normal;
  font-size: 18px;
  width: 100%;
  /* margin-top: 4rem; */

  padding: 2rem;
  line-height: 30px;
  text-align: left;
}

.survey-quote {
  /* margin-top: calc(-2rem + 15vw); */
  color: #FFFFFF;
  font-family: 'OpenSans';
  font-weight: bold;
  font-style: normal;
  font-size: 2.9vw;
  width: 100%;
  margin: auto;
  margin-top: 15rem;
  margin-bottom: 0rem;
  padding: 2rem;
  padding-bottom: 0rem;
  text-align: center;
  min-height: 8rem;
  /* margin-top: 4rem; */

  line-height: 3rem;
  transition: opacity 0.3s;
}

.bottom-survey-quote {
  /* margin-top: calc(-2rem + 15vw); */
  color: #FFFFFF;
  font-family: 'OpenSans';
  font-weight: bold;
  font-style: normal;
  font-size: 2.9vw;
  width: 100%;
  margin: auto;
  margin-top: calc((3 / 2160) * 100vw + 19vw - (3 / 2160) * 1680px);
  margin-bottom: 0rem;
  padding: 2rem;
  padding-bottom: 0rem;
  text-align: center;
  min-height: 8rem;
  /* margin-top: 4rem; */

  line-height: 3rem;
  transition: opacity 0.3s;
}

.reference-reference-quote {
  /* margin-top: calc(-2rem + 15vw); */
  color: #a4b5b1;
  font-family: 'OpenSans';
  font-weight: bold;
  font-style: italic;
  font-size: 18px;
  width: 100%;

  padding: 2rem;
  padding-top: 0rem;
  line-height: 30px;
  text-align: left;
}

/* ipad and lower */
@media (max-width: 1024px) {
  .mobile-vertical-stack {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    /* background-color: red; */
  }

  .rel-move {
    position: relative;
    left: 0rem;
  }

  .large-logo {
    width: min(40vw, 20rem);
    height: min(40vw, 20rem);
    margin-top: 0rem;
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .fish-text {
    /* width: min(80vw, 20rem); */
    width: 50vw;
    height: 3.25rem;
    margin-top: 1rem;
  }

  .left-margin {
    margin-left: 0rem;
  }

  .vertical-flex {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
  }

  .text {
    color: #a4b5b1;
    font-family: 'OpenSansLight';
    font-weight: bold;
    font-style: normal;
    font-size: 18px;
    text-align: center;
    width: 80vw;
    margin: 0rem;
    /* margin-left: 4.5rem; */
    /* margin-top: 3rem; */
  }

  .vertStack-left-aligned {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .fish-location {
    margin-left: 0rem;
    margin-top: 3rem;
  }

  .fish-button {
    margin-left: 0rem;
    margin-top: 2rem;
    width: 13rem;
    height: 3.25rem;
    align-self: center;
  }

  .quote {
    /* margin-top: calc(-2rem + 15vw); */
    color: #a4b5b1;
    font-family: 'OpenSansLight';
    font-weight: bold;
    font-style: normal;
    font-size: 18px;
    width: 70%;
    /* margin-top: 4rem; */
    margin-left: 0rem;
    line-height: 30px;
    text-align: left;
  }

  .quote-start {
    position: relative;
    left: calc(-15%);
    top: 2rem;
    width: 13%;
  }

  .quote-end {
    position: relative;
    top: -3rem;
    right: calc(-100%);
    width: 13%;
  }

  .center-container {
    /* margin-top: 10rem; */

    width: 100vw;
    margin: 0rem;
    margin-top: 10vw;
    margin-bottom: 10vw;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .isa-text {
    width: 90vw;
    height: 40vw;
    position: relative;
    left: -0.5rem;
    top: -0.8rem;
    /* height: 13rem; */
    /* background-color: red; */
  }

  .yellow-border {
    flex: 100%;
  }

}

/* mobile */
@media (max-width: 600px) {
  .yellow-border {
    flex: 100%;
  }

  .horiz-flex-top {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .circle {
    z-index: -2;
    position: absolute;
    /* right: -10%; */
    transform: translateY(-15rem);
  }

  .survey-quote {
    font-size: 7vw;
  }

}

/* Tablet only */
@media (min-width:600px) and (max-width: 1024px) {
  .isa-text {
    width: 60vw;
    height: 30vw;
    position: relative;
    left: -0.5rem;
    top: -0.8rem;
    /* height: 13rem; */
    /* background-color: orange; */
  }

  .center-container {
    /* margin-top: 10rem; */

    width: 100vw;
    margin: 0rem;
    margin-top: 0rem;
    margin-bottom: 0rem;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .survey-quote {
    font-size: 4.7vw;
  }
}


@media (min-width:1024px) and (max-width: 1920px) {

  .quote {
    /* margin-top: calc(-2rem + 15vw); */
    color: #a4b5b1;
    font-family: 'OpenSansLight';
    font-weight: bold;
    font-style: normal;
    font-size: calc(18px + (24 - 18) * ((100vw - 1024px) / (1920 - 1024)));
    width: 50ch;
    margin-left: 0rem;
    line-height: 41px;
  }

  .quote-start {
    position: relative;
    left: -8rem;
  }

  .quote-end {
    position: relative;
    top: -3rem;
    right: calc(-20rem - 20vw);
  }
}